@import "./variables.scss";
@import "./mixins.scss";

.noround {
    border-radius: 0 !important;
}

.configurator {
    font-family: Roboto, sans-serif;
    color: $gray;

    position: fixed;
    top: 10px;
    left: 10px;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    max-width: 450px;
    z-index: 10000;

    overflow: hidden;
}

.c-header {
    display: flex;
    padding: 0.25rem;
    align-items: baseline;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    border-radius: $border;
    background-color: #d9dde2;
    margin-top: 0.2rem;
    padding: 0.2rem;
}

.section-header {
    font-weight: bold;
    font-style: italic;
    background-color: #9aaec9 !important;
}

.c-button {
    z-index: 10000;
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
    background-color: #333;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 14px;

    &:hover {
        background-color: #666;
    }
}

.c-title {
    padding: 0.5rem 0.25rem;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}
