@import "./variables.scss";
@import "./mixins.scss";

.configurator {
    font-family: Roboto, sans-serif;
    color: $gray;

    position: relative;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    user-select: none;
}

.configurator-content {
    overflow-y: scroll;
}

.c-header {
    display: flex;
    padding: 0.25rem;
    align-items: baseline;
    justify-content: end;
}

.c-button {
    margin: 1px;
    color: white;
    background-color: #333;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: none;

    &:hover {
        background-color: #666;
    }
}

.show-button {
    z-index: 99999;
    position: fixed;
    top: 10px;
    left: 10px;
}

.c-title {
    padding: 0.5rem 0.25rem;
}

.c-dragger {
    cursor: move;
    flex-grow: 1;
    width: 10px;
    background-color: #5e2783;
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;

    &:hover {
        background-color: #c77bfa;
    }
}

.w-full {
    width: 100%;
}
