@import "./mixins.scss";

.header {
    margin: 0.5rem 0;
}

.item-title {
    margin: 2px 0;
    width: 6rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-container {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
}
